/*
<a href="#0" class="card card--absolute">
    <div class="card__image">
        <img src="/images/_tmp/blog1.png" alt="blog" />
    </div>
    <div class="card__content">
        <div class="card__date">

        </div>
        <div class="card__title">

        </div>
    </div>
</a>
*/

.card{
    display: flex;
    box-shadow: 0 0 3px 1px rgba(51, 58, 69, 0.08);
    font-size: rem(16);
    position: relative;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
}
.card--lg{
    font-size: rem(20);
    .card__image{
        @include breakpoint(mid){
            height: 310px;
        }
    }
    // .card__title{
    //     // font-weight: 400;
    // }
}
.card--shadow-lg{
    box-shadow: 0px 20px 21px 0px rgba(51, 58, 69, 0.26);
}
.card__image{
    width: 100%;
    overflow: hidden;
    position: relative; 
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(mid){
        height: 220px;
    }
    > img{
        width: 100%;
        height: 100%;
    }
    .card__image--default{
        width: auto;
        height: auto;
        max-width: 50%;
        max-height: 50%;
    }
}

.card__image--mask{
    > img{
        opacity: 0;
    }
    &:after,
    &:before{
        content: "";
        position: absolute;
        top: 0;
        #{$start}: 0;
        bottom: 0;
        #{$end}: 0;
        background: #f6f6f8;        
        z-index: 10;
        width: 100%;
        // @include transition(all 1s ease 0.5s);
    }
    &:before{
        background: rgba($color-primary, 0.5);        
        // @include transition(all 1s ease 0.7s);
    }
}

.card__content{
    padding: rem(30) rem(20);
    background-color: #fff;
}
.card__content--center{
    text-align: center;
    .card__date{
        justify-content: center;
    }
    &:not(.card__content--transparent){
        position: relative;
        @include breakpoint(isMobile){
            text-align: #{$start};
        }
        .card__date{
            @include breakpoint(isMobile){
                position: absolute;
                top: rem(25);
                #{$end}: rem(25);
                line-height: 2;
            }
        }
        .card__category{
            @include breakpoint(isMobile){
                padding-#{$start}: 0;
            }
        }
    }
}
.card__date{
    font-size: rem(14);
    display: flex;
}
.card__title{
    font-size: rem(16);
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    > a{
        color: inherit;
        text-decoration: none;
        @include transition();
        &:hover{
            color: $color-primary;
        }
    }
}
.card__date-icon{
    width: 20px;
    height: 20px;
    margin-#{$end}: 10px;
}

.card__text{
    color: #515251;
    margin-top: 10px;
    font-size: 1em;
    text-align: justify;
    line-height: 1.8;
}

.card--absolute{
    background-color: rgba(#000, 0.3);
    overflow: hidden;
    .card__content{
        position: absolute;
        height: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        z-index: 1;        
        // background-image: linear-gradient( 0, rgba(42,42,42,0.5) 0%, rgba(42,42,42,0) 100%);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a2a2a+0,2a2a2a+100&0.5+0,1+100 */
        background: -moz-linear-gradient(top, rgba(42,42,42,0.5) 0%, rgba(42,42,42,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(42,42,42,0.5) 0%,rgba(42,42,42,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(42,42,42,0.5) 0%,rgba(42,42,42,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#802a2a2a', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */
        @include transition();

        &--overlay{
            background-color: rgba($color-primary, 0.7);
        }
        &--transparent{
            background-color: transparent;
        }
        &--reverse{
            flex-direction: column-reverse;
            align-content: flex-end;
            justify-content: baseline;
            align-items: baseline;
        }
    }
    .card__title {
        color: #f1f1f1;
        font-weight: 400;
    }
    .card__text{
        opacity: 0;
        visibility: hidden;
        max-height: 0;
        transition: all 0.5s ease;
        color: #fff;
    }
    .card__title{
        margin: 15px 0;
    }
    .card__date-icon{
        fill: #fff;
    }

    .card__date-icon--dark{
        fill: #000;
    }

    .card__image{
        height: 100%;
    }
    .card__action-item{
        svg{
            fill: #fff;
        }
    }
    .card__action-number{
        color: #fff;
    }
}
.card--absolute:hover{
    .card__content{
        background-image: linear-gradient( 0, rgb(42,42,42) 0%, rgba(42,42,42,0.34902) 100%);
    }
    .card__text{
        opacity: 1;
        visibility: visible;
        max-height: 100%;
    }
}


.card-grid{
    > div,
    > section{
        margin-bottom: rem(30);
    }
}

.card--horizontal{
    @include breakpoint(mid){
        flex-direction: row;
        .card__image{
            height: auto;
            width: 180px;
        }
        .card__content{
            padding: rem(10) rem(15);
            width: 100%;
        }
        .card__date{
            color: rgba(#000, 0.54);
        }
        .card__actions{
            flex-direction: column;
            margin-top: 0;
            border-#{$end}: 1px solid rgba(51,58,69,.08);
            border-top: 0;
            width: 60px;
            padding: 10px;
        }
        .card__action-item{
            margin: 10px 0;
        }
    }
}
.card__sep{
    margin: 0 10px;
}
.article-author__name{
    color: $color-primary;
}
.card-list{
    .card + .card{
        margin-top: 20px;
    }
}
// 
// .card__socials {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     background: rgba(0, 0, 0, .87);
//     bottom: 0;
//     opacity: 0;
//     visibility: hidden;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     @include transition;
// }
// 
// .card__socials-item{
//     margin: 0 5px;
//     opacity: 0;
//     @include translate(0, 5px);
//     @include transition();
//     > svg{
//         fill: #fff;
//         width: 24px;
//         height: 24px;
//         @include transition();
//     }
//     &:hover{
//         > svg{
//             fill: $color-primary;
//         }
//     }
// }
// 
// .card__action--share:focus{
//     > svg{
//         fill: $color-primary;
//     }
//     + .card__socials{
//         opacity: 1;
//         visibility: visible;
//         .card__socials-item{
//             opacity: 1;
//             @include translate(0, 0);
//             &:nth-child(1){
//                 transition-delay: .1s;
//             }
//             &:nth-child(2){
//                 transition-delay: .2s;
//             }
//             &:nth-child(3){
//                 transition-delay: .3s;
//             }
//             &:nth-child(4){
//                 transition-delay: .4s;
//             }
//         }
//     }
// }
// 
// .card--animation{
//     .card__image--mask{
//         &:after,
//         &:before{
//             width: 0;
//             @include transition(all 1s ease 0.2s);
//         }
//         &:before{
//             @include transition(all 1s ease 0.4s);
//         }
//         > img{
//             opacity: 1;
//         }
//     }
// }
// .like-action{
//     position: relative;
// }
// .like-loader{
//     > *{
//         background: rgba(255, 255, 255, 0.75);
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         z-index: 1;
//         border-radius: 50%;
//         font-size: 0;
//     }
// }

