.department-list {
    a.card {
        min-height: 272px;
        padding-top: 0;

        &:hover {
            .card__img {
                img {
                    filter: none;
                }
            }
        }
    }

    .card__img {
        img {
            filter: invert(1);
            width: 50%;
            padding: 15px;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}


.article-details__subTitle {
    font-size: 1.4rem;
    margin-bottom: 28px;
}

.article-details .article-details__title {
    font-size: 1.5rem;
}

input.aspNetDisabled {
    color: #254544 !important;
}


.org_chart {

    .card--raised {
        box-shadow: none;
    }

    .card{
        background: transparent;
    }

    .main-card {
        &::after {
            content: "";
            width: 2px;
            height: 60px;
            background: #cee8e6;
            display: block;
            margin: 0 auto;
        }
    }

    .card__content {
        background: #14a9a5;
        border-radius: 100px;
        padding: 0;
    }

    .card__content *,
    .card__content .card__title {
        color: #fff;
    }

    h4.name.card__title.text-center {
        margin-top: 15px;
    }
}

.page-title {
    font-size: 22px;
    color: #254544;
    padding: 10px 0 50px;
}

.department_details {
    .nav {
        max-width: 300px;
        width: 100%;
        margin-left: 2rem;
        height: 100%;
        box-shadow: -2px 2px 8px #f1f1f1;
        background: #fff;

        a {
            padding: 15px;
            font-size: 1rem;

            &::before {
                content: "❯";
                margin-left: 10px;
                display: inline-block;
                font-size: 12px;
            }

            &.active {
                background: #224445;
                color: #fff;

                &:hover {
                    background: #224445;
                    color: #fff;
                }
            }

            &:hover {
                background: #f4f4f4;
            }
        }

    }

    .tab-pane {
        .org_chart .card__image {
            padding-top: 0;
        }

        .org_chart .card {
            margin-bottom: 3rem;
        }

        .org_chart .main-card .card {
            margin-bottom: 0;
        }

        .org_chart {

            .job-title,
            .job-department {
                font-size: 14px;
            }

            .card__content .card__title {
                font-size: 18px;
            }
        }
    }

    .tab-content {
        width: 100%;

        .ms-listviewtable {
            width: 100%;

            th {
                background: #224445;
                color: #fff;
                font-size: 1rem;
                padding: 10px;

                .ms-selectall-span img {
                    filter: brightness(5);
                    opacity: 1;
                }
            }

            td {
                border: 1px solid #dedede !important;
                padding: 8px 10px;
                font-size: 0.95rem;
                color: #101010;

                
            }
        }

        .js-callout-body:not(.ms-disabled){
            font-family: 'DroidKufi';
            font-size: 1rem;
            background: #224445;
            padding-bottom: 0;
            padding: 8px 30px;
            color:#fff;

            .ms-listview-glyph-withmargin{
                color: #fff;
            }

            &:hover {
               opacity: 0.8;
            }
        }

        .js-callout-body.ms-disabled{
            font-family: 'DroidKufi';
            font-size: 1rem;
            background: #ccc;
            padding-bottom: 0;
            padding: 8px 30px;
            color:#333;

            .ms-listview-glyph-withmargin{
                color: #333;
            }

            &:hover {
                background: #ccc;
                color: #333;
                cursor: not-allowed;

                .ms-listview-glyph-withmargin{
                    color: #333;
                }
            }
        }
        

        
    }
}