// .article-title {
//   display: flex;
//   justify-content: space-around;
//   padding-top: 30px;
//   border-bottom: 1px solid;
//   padding-bottom: 17px;
//   span {
//     font-size: $font-size-lg;
//     font-weight: $font-weight-normal;
//   }
// }


// .article-details {
//   .article-details__img {
//     text-align: center;
//     img {
//       width: 720px;
//       height: 100%;
//     }
//   }
//   p {
//     width: 705px;
//     font-size: 16px;
//     color: #404040;
//     margin: auto;
//   }
// }

.article-details__title {
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 10px;
    color: #0d7f97;
}

.tasks {
    th {
        background: #f7f7f7;
    }
}

#mainTitle {

    background: #406f6e;
    padding: 1rem;
    margin: 20px 0 10px;
    font-size: 22px;
    color: #fff;
    border: 1px solid #f3f2f2;

    &::before {
        content: "🗎";
        font-size: 40px;
        float: right;
        line-height: 0.8;
        margin-left: 10px;
    }

    &.page-title--secondary span{
        color: #fff;
    }
}




body .green-btn {
    background-color: #254544;
    color: #fff;
    padding: 15px 30px;
    border-radius: 0;
    font-size: 1rem;

    span {
        color: #fff;
    }

    &:hover {
        opacity: 0.8;
    }
}

.system__title{
    background: #406f6e;
    padding: 1rem;
    margin: 20px 0 10px;
    font-size: 22px;
    color: #fff;
    border: 1px solid #f3f2f2;

    .system-icon {
        float: $start;
        margin-left: 10px;
    }

    &.page-title--secondary span{
        color: #fff;
    }
}


.system_title__summary {
    font-size: 1.3rem;
    margin-top: 35px;
    margin-bottom: 20px;
}