.form-control-icon {
    position: relative;

    .form-control {
        height: 100%;
        padding-#{$end}: 35px;
    }
}

.form-control-icon__icon {
    width: 14px;
    position: absolute;
    #{$end}: 0.8em;
    top: 0;
    height: 100%;
    fill: #404040;
}

.form-steps {
    display: flex;
    padding: 0;
    margin-bottom: 30px;
    list-style-type: none;
}

li.form-steps__item {
    &--previous {
        .form-steps__link {
            color: #fff;
            background: url("#{$img-path}/check.svg") $color-secondary no-repeat left center;
            background-size: 15px;

            @include breakpoint(isCommon) {
                padding-right: 12px;
                padding-left: 12px;
            }

            &:after {
                background-color: $color-secondary;
            }
        }

        .form-steps__icon {
            fill: #fff;

            @include breakpoint(isCommon) {
                display: none;
            }
        }
    }

    &--current {
        .form-steps__link {
            color: #fff;
            background-color: $color-primary;

            &:after {
                background-color: $color-primary;
            }

            span {
                @include breakpoint(isCommon) {
                    display: inline;
                }
            }
        }

        .form-steps__icon {
            fill: #fff;
            margin-#{$end}: 8px;
        }
    }
}

.form-steps__link {
    display: flex;
    padding: 14px 25px;
    font-size: 14px;
    color: #404040;
    background-color: #F0F0F0;
    position: relative;

    @include breakpoint(isCommon) {
        padding: 14px 0;
        height: 50px;
    }

    span {
        @include breakpoint(isCommon) {
            display: none;
        }
    }

    &:hover {
        text-decoration: none;
    }

    &:after,
    &:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 30px;
        background: #fff;
        top: 0;
        #{$start}: 100%;
        z-index: 1;
        clip-path: polygon(100% 0, 100% 100%, 100% 100%, 100% 100%, 30% 50%, 100% 0%);
    }

    &:after {
        width: 28px;
        #{$start}: calc(100% - 0.1%);
        background: #F0F0F0;
    }
}

.form-steps__item:not(:first-child) {
    .form-steps__link {
        padding-#{$start}: 25px;

        @include breakpoint(large) {
            padding-#{$start}: 35px;
        }
    }
}

.form-steps__icon {
    width: 20px;
    height: 20px;
    fill: #404040;

    @include breakpoint(large) {
        margin-#{$end}: 8px;
    }
}

.file-upload {
    position: relative;
    text-align: center;
    width: 100%;
}

.file-upload__content {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 100%;
    background: #F4F4F4;
    cursor: pointer;
    color: #4040407d;
    height: 85px;
}


.file-upload__input {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}


// date picker
.list-unstyled {
    padding: 0;
    font-size: 12px;

    .btn {
        box-shadow: none;

        &:hover {
            background: transparent;

        }
    }
}

.form-control--w60 {
    @include breakpoint(mid) {
        width: 60px !important;
    }
}

.attachments-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.attachments-list__item {
    display: flex;
    margin-bottom: 20px;
}

.attachments-list__icon {
    width: 20px;
    height: 20px;
    margin-#{$end}: 15px;
}

.attachments-list__name {
    font-size: 14px;
    color: $color-primary;
    padding-bottom: 10px;
    margin-bottom: 0;
}

.attachments-list__actions {
    display: flex;
}

.attachments-list__button {
    border: 0;
    background-color: transparent;
    width: 18px;
    min-width: 18px;
    height: 18px;
    padding: 0;
    display: inline-flex;
    margin-#{$end}: 10px;

    svg {
        width: 100%;
        height: 100%;
        fill: #797979;
    }

    &--delete {
        svg {
            fill: #f82929;
        }
    }

    &:hover {
        background-color: transparent;
    }
}

.section-filter {

    .select2-container .select2-selection--single {
        height: auto;
        padding: 3px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 5px;
    }
}


.rp-forms {
    .form_title {
        background: #f9f9f9;
        padding: 1rem;
        margin: 20px 0 35px;
        font-size: 22px;
        color: #254544;
        border: 1px solid #f3f2f2;

        &::before {
            content: "🗎";
            font-size: 40px;
            float: right;
            line-height: 0.8;
            margin-left: 10px;
        }
    }

    .pnuTitle {
        font-size: 1rem;
        font-weight: 600;
        color: #1c5152;
        margin-bottom: 20px;
        display: inline-block;
    }


    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: inherit;

    }

    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 0;
        height: 50px;
        line-height: 50px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 50px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 50px;
    }


    [id$=rblIDTypes] tbody,
    [id$=rbldatesChoice] tbody {
        display: flex;
        align-items: center;
    }

    [id$=rblIDTypes] tbody tr td input[type=radio],
    [id$=rbldatesChoice] tbody tr td input[type=radio] {
        margin: 4px 10px 0;
        width: 20px;
        height: 20px;
        float: $start;
    }

    .input {
        input[type=text] {
            padding: 10px 15px;
            height: 50px;
            font-size: 0.9rem;
            border-radius: 0;
            line-height: 50px;
        }

        textarea {
            font-size: 1rem;
            padding: 15px;
            border-radius: 0;
            min-height: 330px;
        }
    }


    span[id*=RequiredFieldValidator],
    span[id*=RFVVisitorAffiliatedT],
    span[id*=RFVVisitDatesHijri] {
        font-size: 0.9rem;
        margin-top: 10px;
        display: block;
    }

    .dateTableContainer {
        width: 100% !important;

        th {
            font-size: 1rem;
            background: #1c5152;
            color: #fff;
        }

        td {
            text-align: $start;
            font-size: 1rem;
            border: 1px solid #d1d2d5;
        }


    }
}

body .rp-forms .btn-green {
    background: #1c5152;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff !important;
}

.dataTables_filter {
    margin-#{$start}: 20px;
}

.dataTables_wrapper .dataTables_filter input {
    padding: 10px;
    border-radius: 0;
    margin-right: 10px;
    font-size: 1rem;
}

.dt-button-collection.dropdown-menu a {
    display: block;
    padding: 10px;
    text-align: $start;

    &:hover {
        background: #34495e;
        color: #fff;
        text-decoration: none;
    }

}

.dataTables_info {
    background: #f3f3f3;
    width: 100%;
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
}

.pagination {

    a {
        text-decoration: none;
        display: block;
        border: 1px solid #d1d2d5;
        padding: 5px 20px;
        font-size: 1rem;
        color: #444;

        &:hover {
            background-color: #ddd;
        }
    }

    li.disabled {
        a {
            background-color: #ccc;
            color: #444;
            cursor: no-drop;

            &:hover {
                background-color: #ccc;
                color: #444;
            }
        }
    }

    li.active {
        a {
            background-color: #1c5152;
            color: #fff;

            &:hover {
                background-color: #1c5152;
                color: #fff;
            }
        }
    }
}

.rp-forms .dateTableContainer td table td {
    border: 0;
}

.rp-forms .dateTableContainer td table td input[type=radio] {
    width: 20px;
    height: 20px;
}


.buttons-colvis,
.buttons-print {
    color: #fff !important;
}

.buttons-colvis:hover,
.buttons-print:hover {
    opacity: 0.8;
}

[id$=decision]{
    .input{
        input[type=radio]{
            width: 20px;
            height: 20px;
            margin-top: 3px;
            margin-#{$end}: 5px;
        }

        span{
            font-size: 1rem;
            margin-#{$end}: 10px ;
        }
    }
}