.list-grid {
    svg {
        width: 6rem;
        height: 6rem;
        stroke: #315f60;
        fill: #315f60;
    }

    a {
        padding: 24px 0;
        transition: background-color .1s  ease-in;
        -webkit-transition: background-color .1s  ease-in;
        -moz-transition: background-color .1s  ease-in;
        -ms-transition: background-color .1s  ease-in;
        -o-transition: background-color .1s  ease-in;
        color: #066460;

        span {
            font-size: 1.2rem;
            font-weight: 500;
           padding: 0 3px;
        }

        &:hover {
            text-decoration: none;
            background-color: #207b79;
            color: #fff;

            svg {
                fill: #fff;
                stroke: #fff;
            }

          
        }
    }
}

.list-inline-item {
    display: inline-block;
    margin-#{$end}: .5rem;
    margin-#{$start}: 0 !important;
}