.main-footer {
    padding: 2em 4em;
    background-image: url(../images/wave-footer.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 100%;
    background-position-y: bottom;
}

.main-footer__nav {
    padding: 0;

    li {
        margin-bottom: 1.8em;

        a {
            color: $footer-color;
            font-size: 1rem;
        }
    }
}

.main-footer__logo {
    @include transition();

    &:hover {
        text-decoration: none;
        opacity: .8;
    }
}

.main-footer-copy {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    p {
        color: $color-white;
        margin: 0;
        font-size: 20px;
    }
}