.main-nav {
    ul {
        display: flex;
        align-items: center;
        padding-#{$start}: 0;

        li {
            display: block;

            a {
                font-size: .8rem;
                color: $header-color;
                margin-left: 30px;
                display: block;

                &:hover,
                &.active {
                    color: $color-primary;
                    text-decoration: none;

                    &::after {
                        width: 100%;
                    }
                }

                &.active {
                    font-weight: 500;
                }

                &::after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 2px;
                    background: $color-primary;
                    transition: width .5s;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 0.2rem;
                    text-align: center;
                }


            }


            .dropdown {
                display: block;
                overflow: hidden;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                opacity: 0;
                visibility: hidden;
                padding: 30px 8vw;
                background-color: #367977;
                box-shadow: -0.696px 4.951px 5px 0px rgba(0, 0, 0, 0.05);
                -webkit-transition: all 0.3s ease 0.1s;
                -moz-transition: all 0.3s ease 0.1s;
                -ms-transition: all 0.3s ease 0.1s;
                -o-transition: all 0.3s ease 0.1s;
                transition: all 0.3s ease 0.1s;
                -moz-transform: translateX(0) translateY(15px);
                -o-transform: translateX(0) translateY(15px);
                -ms-transform: translateX(0) translateY(15px);
                -webkit-transform: translateX(0) translateY(15px);
                transform: translateX(0) translateY(15px);
                width: 100%;
                z-index: 10;


                >li {
                    width: 23%;
                    margin: 0;
                    margin-bottom: 2em;
                    position: relative;
                    #{$start}: 0;
                    top: 0;
                    float: right;
                    padding-bottom: 0.625rem;
                    display: block;

                    &::before {
                        content: "";
                        width: 15px;
                        height: 20px;
                        margin-left: 8px;
                        margin-top: 5px;
                        display: inline-block;
                        background-image: url(../images/angle-leftSubMenu.svg);
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: relative;
                        top: 4px;
                        display: none;
                    }

                    >a {
                        margin-#{$end}: 1rem !important;
                        border-bottom: 2px solid rgba(180, 238, 232, 0.5);
                        padding-bottom: 15px;
                        margin-bottom: 15px;
                        margin: 0;
                        color: #fff;
                        padding: 1em 0;
                        margin-bottom: 0;
                        font-size: 0.9375rem;
                        font-weight: 700;
                        transition: all .8s ease;
                        display: flex;
                        align-items: center;
                        width: 78%;

                        &:after {
                            display: none;
                        }

                        &:hover {
                            border-color: #9b7f3e;
                            opacity: 0.8;
                        }

                        .icon__item {
                            margin-#{$end}: 10px;
                        }
                    }

                    &:nth-child(4n+1) {
                        clear: both;
                    }
                }
            }

            &:hover {
                .dropdown {
                    transition: all 0.2s linear;
                    visibility: visible;
                    opacity: 1;
                    display: block;
                    -moz-transform: translateX(0) translateY(0);
                    -o-transform: translateX(0) translateY(0);
                    -ms-transform: translateX(0) translateY(0);
                    -webkit-transform: translateX(0) translateY(0);
                    transform: translateX(0) translateY(0);
                }
            }

        }
    }
}

.main-menu {
    margin-top: 1.3rem;
} 

.navBar-navWrapper {
    // padding-left: 60px;
    padding-#{$start}: 50px;
    // max-width: 100%;
    // flex: 0 0 100%;

}

// @media (min-width: 992px) {
//     .navBar-navWrapper {
//         padding-right: 270px;
//     }
// }

// @media (min-width: 1200px) {
//     .navBar-navWrapper {
//         padding-right: 310px;
//     }
// }

// @media (min-width: 1400px) {
//     .navBar-navWrapper {
//         padding-left: 10%;
//         padding-right: 25%;
//     }
// }





.portal-status h3 {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 15px;
}

.portal-status h4 {
    font-size: 0.9rem;
    color: #fff;
}