.homeNotification {
    position: fixed;
    #{$end}: 10px;
    bottom: 10px;
    z-index: 10;
}

.homeNotification-animationBtn {
    display: block;
    position: absolute;
    #{$end}: 50%;
    top: 50%;
    width: 95px;
    height: 95px;
    padding: 0;
    opacity: 1;
    background: #a7bb3c;
    border-radius: 110%;
    -webkit-animation: garur 10s infinite ease;
    animation: garur 10s infinite ease 10s;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes garur {

    0%,
    90% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(0);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(3);
    }
}




.homeNotification-btn {
    width: 5.9375rem;
    height: 5.9375rem;
    border-radius: 50%;
    background-color: #066460;
    color: #fff;
    text-align: center;
    box-shadow: -0.696px 4.951px 12px 0px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
    cursor: pointer;
    position: relative;

    .homeNotification--title {
        font-size: 14px;
        display: block;
        text-align: center;
    }
}

.homeNotification-btn.is-open {
    z-index: 20;
    position: relative;
    background: url(../images/icons/notification-close.svg) center center #fff no-repeat;
    box-shadow: none;
    background-size: 30px 30px;
}

.homeNotification-btn.is-open .homeNotification--title,
.homeNotification-btn.is-open .homeNotification--icon {
    display: none;
}

.homeNotification-panel.is-open .homeNotification--content {
    opacity: 1;
}

.homeNotification-content .homeNotification--link {
    padding-bottom: 0.8125rem;
    margin-bottom: 1.4375rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

li {
    list-style: none;
}

.homeNotification-content .homeNotification--link>a {
    color: #fff;
}

a:visited {
    text-decoration: none;
}

.homeNotification-content .homeNotification--title {
    padding-bottom: 5px;
    font-size: 14px;
}

.homeNotification-content .homeNotification--date {
    color: rgba(168, 237, 228, 0.85);
    font-size: 14px;
}

.homeNotification-content .homeNotification--icon {
    fill: rgba(168, 237, 228, 0.85);
    margin-left: 5px;
}

.homeNotification--action {
    text-align: center;
}

.homeNotification--action>.btn,
.homeNotification--action>input[type=button],
.homeNotification--action>input[type=reset],
.homeNotification--action>input[type=submit] {
    color: #fff;
    min-width: 170px;

    &:hover {
        color: #fff;
    }
}

.homeNotification-panel.is-open {
    background-image: -moz-linear-gradient(135deg, #00cb99 0%, #008494 100%);
    background-image: -webkit-linear-gradient(135deg, #00cb99 0%, #008494 100%);
    background-image: -ms-linear-gradient(135deg, #00cb99 0%, #008494 100%);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.homeNotification-panel {
    background-color: #00868b;
    box-shadow: -0.696px 4.951px 111px 0px rgba(0, 0, 0, 0.47);
    position: fixed;
    -webkit-transition: all 0.3s ease-out 0.1s;
    -moz-transition: all 0.3s ease-out 0.1s;
    -ms-transition: all 0.3s ease-out 0.1s;
    -o-transition: all 0.3s ease-out 0.1s;
    transition: all 0.3s ease-out 0.1s;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
    z-index: 10;
    padding-top: 105px;
    width: 100%;
    height: 100%;
    #{$end}: 0;
    bottom: 0;
    transform-origin: 40px calc(100% - 40px);
}

.homeNotification--content {
    -webkit-transition: opacity 0.3s ease 0.5s;
    -moz-transition: opacity 0.3s ease 0.5s;
    -ms-transition: opacity 0.3s ease 0.5s;
    -o-transition: opacity 0.3s ease 0.5s;
    transition: opacity 0.3s ease 0.5s;
    opacity: 0;
}

.homeNotification--head {
    margin: 0 auto 1.5625rem;
    color: #fff;
    font-size: 1.3125rem;
    font-weight: 700;
}

.homeNotification-content {
    margin: auto;
    padding-#{$start}: 0;
}

.homeNotification--action {
    text-align: center;
}

.homeNotification--action>.btn,
.homeNotification--action>input[type=button],
.homeNotification--action>input[type=reset],
.homeNotification--action>input[type=submit] {
    color: #fff;
    min-width: 170px;
}

.btn:before,
input[type=button]:before,
input[type=reset]:before,
input[type=submit]:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.homeNotification--action>.btn,
.homeNotification--action>input[type=button],
.homeNotification--action>input[type=reset],
.homeNotification--action>input[type=submit] {
    color: #fff;
    min-width: 170px;
}

.btn-outline:hover {
    background-color: rgba(255, 255, 255, 0.13);
    color: inherit;
    outline: none;
    border-color: transparent;
}

.btn-outline {
    position: relative;
    background-color: transparent;
    border: 1px solid transparent;
    color: #fff;
}

.btn,
input[type=button],
input[type=reset],
input[type=submit] {
    display: inline-block;
    margin: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0.625rem 1.5625rem;
    font-size: 0.9375rem;
    min-width: 9.375rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    color: #4a4a4a;
}

.btn:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
.btn:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
.btn.focus,
input.focus[type=button],
input.focus[type=reset],
input.focus[type=submit] {
    color: #000;
    text-decoration: none;
}

.btn-outline>svg {
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

@media (min-width: 720px) {
    .homeNotification-panel {
        width: 810px;
        height: 810px;
        #{$end}: -100px;
        bottom: -290px;
        border-radius: 50%;
        transform-origin: 134px calc(50% + 71px);
    }

    .homeNotification--head {
        width: 400px;
    }

    .homeNotification-content {
        width: 400px;
    }

    .homeNotification-panel {
        width: 810px;
        height: 810px;
        #{$end}: -100px;
        bottom: -290px;
        border-radius: 50%;
        transform-origin: 134px calc(50% + 71px);
    }
}

.user-notfication {
    position: absolute;
    top: 3em;
    #{$end}: 3em;
}

.user-notfication-btn {
    background: #066460;
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
}

.notfication__number {
    background-color: #cd0202;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    #{$start}: -6px;
    min-width: 25px;
    min-height: 25px;
    line-height: 25px;
}


.notification {
    position: relative;
    width: 3em;
    height: 3em;
    cursor: pointer;
}

.notification svg {
    width: 3em;
    height: 3em;
}

.notification svg>path {
    fill: #066460;
}

.notification--bell {
    animation: bell 2.2s linear infinite;
    transform-origin: 50% 0%;
}

.notification--bellClapper {
    animation: bellClapper 2.2s 0.1s linear infinite;
}

.notification--num {
    position: absolute;
    top: -14%;
    left: 52%;
    font-size: 1rem;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    background-color: #d51f1f;
    border: 2px solid #f8f9fa;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.7em;
    -webkit-animation: notification 2.2s ease;
    animation: notification 2.2s ease;
}


@keyframes bell {

    0%,
    25%,
    75%,
    100% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(2deg);
    }

    45% {
        transform: rotate(-2deg);
    }

    55% {
        transform: rotate(1deg);
    }

    60% {
        transform: rotate(-1deg);
    }
}

@keyframes bellClapper {

    0%,
    25%,
    75%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-0.15em);
    }

    45% {
        transform: translateX(0.15em);
    }

    55% {
        transform: translateX(-0.1em);
    }

    60% {
        transform: translateX(0.1em);
    }
}

@keyframes notification {

    0%,
    25%,
    75%,
    100% {
        opacity: 1;
    }

    30%,
    70% {
        opacity: 0;
    }
}



// .Notification-content {
//     padding: 0;
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: column;
// }

// .Notification--link {
//     line-height: 1.8;
//     border-bottom: 1px solid #ecebeb;
//     padding: 10px 0;
//     margin: 0;
// }


// .Notification--link a {
//     text-decoration: none;

//     &:hover {
//         .Notification--title {
//             color: #9b803d;
//         }
//     }
// }

// .Notification--date {
//     font-size: 0.9rem;
//     color: #6d6d6d;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
// }

// .Notification--date svg {
//     margin-#{$end}: 5px;
// }

// .Notification--title {
//     color: #066460;
//     font-weight: bold;
// }