.deal-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #dddddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

    &:hover {
        margin-top: -10px;
        margin-bottom: 30px;
        box-shadow: 0px 6px 0px 0px #066460;
    }
}

.deal-item .deal-content {
    padding: 10px;

    p {
        font-size: 14px;
        line-height: 23px;
        text-align: $start;
        height: 45px;
        overflow: hidden;
    }


    h6 {
        margin-top: 5px;
        margin-bottom: 10px;

        a {
            font-size: 16px;
            line-height: 24px;
            color: #3a3b3c;
            font-weight: bold;
        }
    }
}


.deal-item .deal-content .deal-content-bottom {

    display: block;
    overflow: hidden;

    p {
        float: $start;
        font-size: 14px;
        line-height: 18px;
        color: #066460;
        margin-bottom: 0px;
        margin-top: 8px;
    }

    a {
        float: $end;
        background-color: #9b7f3e;
        color: #ffffff;
        border: 1px solid;
        border-color: #9b7f3e;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        margin-bottom: 5px;

        &:hover {
            color: #9b7f3e;
            background-color: #ffffff;
        }
    }
}


.deal-item .deal-thumb {
    position: relative;
    height: 230px;

    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 100%;
        width: 100%;
    }

    .deal-badge {
        position: absolute;
        top: 20px;
        #{$start}: 0;
        background-color: #3a3b3c;
        color: #ffffff;
        padding: 5px 5px 5px 15px;
        font-size: 14px;
        line-height: 21px;
        -webkit-clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 20% 48%, 0% 0%);
        clip-path: polygon(100% 0, 100% 50%, 100% 99%, 0% 100%, 20% 48%, 0% 0%);

        &.new {
            background-color: #dc3545;
        }

        &.updated {
            background-color: #28a745;
        }
    }
}



.deal-item .tooltip.top {
    margin-top: -13px;
}

.deal-item .tooltip {
    position: relative;
    float: $end;
}

.deal-item .tooltip .tooltip-inner {
    background-color: #3a3b3c;
    color: #ffffff;
    font-size: 12px;
    line-height: 18px;
    padding: 5px;
}

.deal-item .tooltip.top .tooltip-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #3a3b3c;
}


.controls {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1rem;
}

.control {
    position: relative;
    display: inline-block;
    height: 2.7rem;
    background: #3d6261;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: background 150ms;
    border: 1px solid #fff;
    margin-left: 5px;
    margin-bottom: 5px;
}

.control:hover {
    background: #528382;
}

// .control[data-filter]:after {
//     content: '';
//     position: absolute;
//     width: 10px;
//     height: 10px;
//     top: calc(50% - 6px);
//     left: calc(50% - 6px);
//     border: 2px solid currentColor;
//     border-radius: 2px;
//     background: currentColor;
//     transition: background-color 150ms, border-color 150ms;
// }

.control[data-sort]:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-left: 2px solid;
    top: calc(50% - 6px);
    left: calc(50% - 6px);
    transform: translateY(1px) rotate(45deg);
}

.control[data-sort*=":desc"]:after {
    transform: translateY(-4px) rotate(-135deg);
}

.mixitup-control-active {
    background: #9b7f3e;
}

.mixitup-control-active[data-filter]:after {
    background: transparent;
}

.control:first-of-type {
    border-radius: 3px 0 0 3px;
}

.control:last-of-type {
    border-radius: 0 3px 3px 0;
}

.control[data-filter]+.control[data-sort] {
    margin-left: .75rem;
}

.control[data-filter=".green"] {
    color: #91e6c7;
}

.control[data-filter=".blue"] {
    color: #5ecdde;
}

.control[data-filter=".pink"] {
    color: #d595aa;
}

.control[data-filter="none"] {
    color: #2f2f2f;
}

/* Container
---------------------------------------------------------------------- */

.container:after {
    content: '';
    display: inline-block;
    width: 100%;
}

/* Target Elements
---------------------------------------------------------------------- */

.mix,
.gap {
    display: inline-block;
    vertical-align: top;
}

.mix {
    background: #fff;
    border-top: .5rem solid currentColor;
    border-radius: 2px;
    margin-bottom: 1rem;
    position: relative;
}

.mix:before {
    content: '';
    display: inline-block;
    padding-top: 56.25%;
}

.mix.green {
    color: #91e6c7;
}

.mix.pink {
    color: #d595aa;
}

.mix.blue {
    color: #5ecdde;
}

/* Grid Breakpoints
---------------------------------------------------------------------- */

/* 2 Columns */

.mix,
.gap {
    width: calc(100%/2 - (((2 - 1) * 1rem) / 2));
}

/* 3 Columns */

@media screen and (min-width: 541px) {

    .mix,
    .gap {
        width: calc(100%/3 - (((3 - 1) * 1rem) / 3));
    }
}

/* 4 Columns */

@media screen and (min-width: 961px) {

    .mix,
    .gap {
        width: calc(100%/4 - (((4 - 1) * 1rem) / 4));
    }
}

/* 5 Columns */

@media screen and (min-width: 1281px) {

    .mix,
    .gap {
        width: calc(100%/5 - (((5 - 1) * 1rem) / 5));
    }
}