.nodeName,.nodeTitle{
    text-align: center;
    transform: translateY(25px);
    color: #fff;
}

.nodeName{
    font-size: 1rem;
    font-weight: bold;
}

.nodeTitle{
    transform: translateY(55px);
}

#orgChart{
    hr{
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
}