.panel {
 box-shadow: $panel-shadow;
 border-radius: 10px;
 margin-bottom: 2em;
}

.panel__header {
 display: flex;
 justify-content: space-between;
 border-bottom: 1px solid rgba(#707070, .1);
 padding: 16px 20px;
 align-items: center;
}

.panel__title {
 margin: 0;
 display: flex;
 align-items: center;
 font-size: 30px;
 color: $color-secondary;

 img {
  margin-#{$end}: 20px;
  width: 88px;
  height: 56px;
 }
}

a.panel__link {
 color: $color-primary;
 font-size: 15px;
 font-weight: 500;
}

.panel__body {
 padding: 20px;
}

.panel__subtitle {
 color: #646D82;
 font-size: 14px;
 font-weight: 500;
 margin-bottom: 1em;
}

.panel__content {
 border-left: 1px solid rgba(#707070, .1);
 height: 100%;
}