.service-item {
    a {
        min-height: 160px;
        color: inherit;

        &:hover {
            .service__img {
                img {
                    filter: none;
                }
            }
        }
    }
}

.service__img {
    img {
        filter: invert(1);
        width: 17%;
        margin-bottom: 10px;
    }
}