a:visited,
a:active,
a:link {
    color: inherit;
}

.main-filter {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-wrapper {
    min-height: 500px;
}

.main-filter_department,
.main-filter_name {
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid #f4f4f4;
    border-radius: 1.5rem;
    padding: 0.3rem 1rem;

    input[type=text],
    select {
        border: 0;
        color: $color-primary;
        font-weight: 500;
        font-size: 0.9rem;
    }
}

.main-filter_department {
    margin-#{$end}: 3.5rem;

    &::before {
        content: "";
        background-image: url(../images/bookmark.png);
        background-repeat: no-repeat;
        background-position: 0 3px;
        width: 24px;
        height: 24px;
    }

    select {
        width: 100%;
        padding-#{$start}: 0.8rem;
    }
}

.main-filter_name {
    &::after {
        content: "";
        background-image: url(../images/book.png);
        background-repeat: no-repeat;
        background-position: 0 3px;
        width: 32px;
        height: 32px;
    }

    select {
        width: 30%;
        margin-#{$end}: 0.8rem;
    }

    input[type=text] {
        width: 70%;
        font-size: 0.8rem;
        color: #066460;
        border-#{$start}: 2px solid #f4f4f4;
        padding-#{$start}: 0.8rem;
    }
}


.main-news {
    .slider {
        article {
            figure {
                position: relative;
                height: 22.5rem;
                overflow: hidden;
                border-radius: 5px;


                &::before {
                    z-index: 0;
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgb(0, 0, 0);
                    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.47) 36%, rgba(6, 100, 96, 0.94) 100%);
                    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.47) 36%, rgba(6, 100, 96, 0.94) 100%);
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.47) 36%, rgba(6, 100, 96, 0.94) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#066460", GradientType=1);
                    border-radius: 10px;
                }

                img {
                    width: 100%;
                    border-radius: 10px;
                }

                .main-news_title {
                    position: absolute;
                    bottom: 4rem;
                    #{$start}: 1rem;
                }
            }
        }
    }

    .sub--title {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }


    .main--title {
        font-size: 1.2rem;
        line-height: 1.7;
    }

    .slick-dots {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0;

        li {
            display: inline-flex;
            align-items: center;

            button {
                justify-content: center;
                text-indent: 10rem;
                width: 0.66rem;
                height: 0.66rem;
                overflow: hidden;
                display: inline-flex;
                padding: 0;
                min-width: 0;
                border-radius: 50%;
                margin-#{$end}: 4px;
                background: rgba(255, 255, 255, 0.65);
                border: 0;
                outline: 0;
                transition: all .2s ease-in-out;

                &:hover {
                    background: #fff;
                }
            }

            &.slick-active {
                button {
                    width: 1.66rem;
                    background: #fff;
                    border-radius: 40px;
                    transition: all .2s ease-in-out;
                }
            }
        }
    }
}

.more-items_link {

    border-radius: 50px;
    min-width: 6rem;
    min-height: 1.8rem;
    display: inline-block;
    align-items: center;
    cursor: pointer;

    .more__btn {
        border-radius: 50px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-#{$start}: 0.5rem;
        padding-#{$end}: 0.5em;
        font-size: 0.8rem;
        font-weight: 500;

        &:hover {
            text-decoration: none;
        }
    }

    .btn--white {
        background-color: rgba(255, 255, 255, 1);
        display: inline-flex;
        width: 100%;
        justify-content: center;
        color: #9b7f3e;
        transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -moz-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        outline: 0;

        &:hover {
            background-color: #9b7f3e;
            color: #fff;
        }
    }

    .btn--orange {
        background: #9b803d;
        color: #fff;
        display: inline-flex;
        padding-top: 7px;
        padding-bottom: 7px;
        width: 100%;
        justify-content: center;
        transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -moz-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: #066460;
            color: #fff;
        }
    }
}


.heading__title {
    font-size: 1.35rem;
    color: #05625c;

    &::after {
        border-bottom: 4px solid #9b803d;
        content: "";
        display: block;
        width: 3rem;
        margin-top: 0.7rem;
    }


}

.president-words {
    .card {
        padding: 3rem;
        align-items: center;

        &::before {
            content: "";
            background-image: url(../images/patern.png);
            background-position: 6rem 0;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 30%;
            height: 100%;
            position: absolute;
            top: 0;
            #{$start}: 0;
        }

        &::after {
            content: "";
            background-image: url(../images/patern.png);
            background-position: -6rem 0;
            background-repeat: no-repeat;
            background-size: 100%;
            width: 30%;
            height: 100%;
            position: absolute;
            top: 0;
            #{$end}: 0;
        }
    }

    .card:not(.card--absolute):hover .card__image img {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .card__image {
        width: 36rem;
        text-align: center;
    }

    .card__content {
        background-color: #9b7f3e;
        color: #fff;
        line-height: 1.8;
    }
}

.img--rounded {

    img {
        border-radius: 50%;
        width: 90%;
    }
}


.main-services_items {
    display: flex;
    justify-content: space-between;

    .item {
        width: 100%;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #066460;
            border-radius: 5px;
            background-color: #066460;
            border-radius: 5px;
            padding: 0.5rem 0.8rem;
            min-height: 4rem;
            color: #fff;
            transition: background-color .2s ease-in-out;
            -webkit-transition: background-color .2s ease-in-out;
            -moz-transition: background-color .2s ease-in-out;
            -ms-transition: background-color .2s ease-in-out;


            &:hover {
                background-color: #9b803d;
                text-decoration: none;
            }

        }

        .icon__item {
            margin-#{$end}: 5px;

            img {
                width: 80%;
            }
        }

    }
}



.news-item,
.events-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 0.8rem;


    .news__img,
    .events__img {
        margin-#{$end}: 0.8rem;
        border: 1px solid #d1d2d5;

        &:hover {

            +.news__title,
            +.events__title {
                a {
                    color: #9b7f3e;
                }
            }
        }
    }

    .sub--title {
        font-size: 0.8rem;
    }

    .main--title {
        font-size: 1.2rem;
    }

    .news__date,
    .event__date {
        font-size: 0.7rem;
        color: #066460;
    }

    a {
        text-decoration: none;

        &:hover {
            color: #9b7f3e;
        }
    }
}

.dfwp-item:last-child .news-item,
.dfwp-item:last-child .events-item,
.news-item:last-child {
    border-bottom: 0;
}

.main-events {
    .main-event_img {
        position: relative;

        figure {
            position: relative;

            &::before {
                z-index: 0;
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgb(0, 0, 0);
                background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.47) 36%, rgba(6, 100, 96, 0.94) 100%);
                background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.47) 36%, rgba(6, 100, 96, 0.94) 100%);
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.47) 36%, rgba(6, 100, 96, 0.94) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#066460", GradientType=1);
                border-radius: 10px;
            }

            img {
                width: 100%;
            }


        }

        .main-events_content {
            position: absolute;
            bottom: 2rem;
            #{$start}: 1rem;

            .sub--title {
                font-size: 0.9rem;
            }

            .main--title {
                font-size: 1.2rem;
            }


        }

        .main-events__date {
            background: #9b803d;
            width: auto;
            display: inline-flex;
            text-align: center;
            color: #fff;
            position: absolute;
            top: 2rem;
            font-size: 0.9rem;
            #{$end}: 2rem;
            justify-content: center;
            align-items: center;
            font-family: "SSTArabic", sans-serif;
            padding: 5px 10px 8px;
            font-weight: 600;
        }
    }




}


.l-home-videos {
    img {
        width: 100%;
    }
}

.rp-circulars_list {
    margin: 2rem 1rem;


}

.circulars-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;

    &:last-child {
        border-bottom: 0;
    }

    .btn {
        background-color: #05625c;
        color: #fff;

        &:hover {
            background-color: #3d8885;
            color: #fff;
        }
    }

}

.circulars__title {
    font-size: 1rem;
}

.circulars__date {
    font-size: 0.8rem;
}

.circulars-download {
    a {
        margin-#{$start}: 0.8rem;

        .icon-svg {
            svg {
                width: 24px;
                height: 24px;
            }
        }

        &:hover {
            text-decoration: none;

            svg {
                fill: #9b7f3e;
            }
        }
    }
}

.progress-bar {
    position: relative;
}

.progressBar {


    .attendace-progress {
        padding-top: 1.5rem;
        border-#{$end}: 1px solid #ddd;

        &:last-child {
            border-#{$end}: 0;

        }
    }
}

.attendace-progress .progress-bar {
    margin-#{$end}: 1rem;
    margin-#{$start}: 0;
}

.attendace-progress:last-child .progress-bar {
    margin-#{$end}: 0;
    margin-#{$start}: 1rem;
}

.user__department {
    background: $color-primary;
    margin: 0 auto;
    padding: 1rem 0.4rem;
    border-radius: 10px;
    color: #fff;
}

.user-profile {
    padding-top: 2rem;
    padding-#{$end}: 1.5rem;
    padding-#{$start}: 1.5rem;
    text-align: center;

    .user-info {
        display: inline-block;
        width: 100%;

        .user__image {
            width: 35%;
            margin: 0 auto;
            display: block;
            position: relative;

            img {
                width: 100%;
                border-radius: 2.5rem;
            }
            &:after {
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: rgb(101, 167, 2);
                bottom: 13px;
                #{$start}: 3px;
                z-index: 1;
            }
        }

        .user__name {
            font-size: 1.3rem;
            font-weight: 500;
            color: $color-primary;
            display: inline-flex;

        }

        .user__position {
            font-size: 0.95rem;
            font-weight: 400;
            color: $color-primary;
        }


    }


    .user-attendance {
        display: flex;
        justify-content: space-between;
        align-items: start;
        border-bottom: 1px solid #dbdbdb;

        .time__attendance {
            margin-left: 0;
            margin-right: 0;
            font-size: 1.5rem;
            font-weight: 500;
            color: #066460;
        }

        .user-profile_links {
            display: flex;
            padding-#{$start}: 0;
        }

        li {
            display: inline-flex;
            margin-#{$start}: 0.6rem;

            a {
                display: inline-flex;
                background-color: #fff;
                padding: 0.5rem 0.5rem;
                border-radius: 0.3rem;
                transition: all 0.2s ease-in-out;

                svg {
                    width: 14px;
                    height: 14px;
                    fill: #de8911;
                }

                &:hover {
                    background-color: #05625c;

                    svg {
                        fill: #fff;
                    }
                }
            }
        }
    }

    .attendance-section {
        h3 {
            font-size: 1.1rem;
            color: #9b803d;
        }

        span {
            display: inline-block;
            margin-bottom: 2.2rem;
            font-weight: 500;
        }
    }
}


.sidebar-title {
    background: #9b7f3e;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

.info__list {
    padding: 1rem;

    ul {
        padding: 0;
    }

    li {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .job--name {
        display: flex;
        align-items: center;

        label {
            margin-bottom: 0;
            color: #066460;
            font-weight: 500;
        }
    }

    svg {
        width: 16px;
        height: 16px;
        fill: #066460;
        margin-#{$end}: 0.455rem;
    }
}


.services_list {
    ul {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        padding-top: 1rem;
    }

    li {
        flex: 0 0 50%;
        max-width: 50%;
        display: block;
        text-align: center;
        padding: 0 5px 10px;

        a {
            display: block;
            background: #fff;
            padding: 1rem 0;
            transition: background-color .2s ease-in-out;
            border: 1px solid #e8e8e8;
            border-radius: 10px;

            &:hover {
                text-decoration: none;
                background-color: #066460;

                svg {
                    fill: #fff;
                }

                span {
                    color: #fff;
                }
            }
        }
    }

    svg {
        max-width: 35%;
        height: 5rem;
        fill: #066460;
    }

    span {
        display: block;
        font-size: 0.9rem;
        font-weight: 500;
    }
}

.poll {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    img {
        width: 75%;
    }
}


.user-links {
    ul {
        padding-#{$start}: 0;

        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;

            a {
                background: #066460;
                display: inline-flex;
                justify-content: space-between;
                width: 100%;
                border-radius: 50px;
                padding: 0.7rem;
                margin-bottom: 0.5rem;
                transition: background-color 0.2s ease-in-out;

                &:hover {
                    background: #9b7f3e;
                    text-decoration: none;
                }

                svg {
                    width: 20px;
                    height: 20px;
                    fill: #fff;
                }

                span {
                    color: #fff;
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }

    }
}

.mediaGallery {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    a {
        margin-#{$end}: 3px;
        margin-bottom: 3px;
        flex: 0 0 24.25%;
        max-width: 24.25%;
        position: relative;
        overflow: hidden;

        >img {
            -webkit-transition: -webkit-transform 0.15s ease 0s;
            -moz-transition: -moz-transform 0.15s ease 0s;
            -o-transition: -o-transform 0.15s ease 0s;
            transition: transform 0.15s ease 0s;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            height: 100%;
            width: 100%;
        }

        .demo-gallery-poster {
            background-color: rgba(0, 0, 0, 0.1);
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-transition: background-color 0.15s ease 0s;
            -o-transition: background-color 0.15s ease 0s;
            transition: background-color 0.15s ease 0s;

            >img {
                left: 50%;
                margin-left: -10px;
                margin-top: -10px;
                opacity: 0;
                position: absolute;
                top: 50%;
                -webkit-transition: opacity 0.3s ease 0s;
                -o-transition: opacity 0.3s ease 0s;
                transition: opacity 0.3s ease 0s;
            }
        }

        .demo-gallery-poster.videoPlayer {
            >img {
                opacity: 1;
                max-width: 15%;
            }
        }

        &:hover {
            >img {
                -webkit-transform: scale3d(1.1, 1.1, 1.1);
                transform: scale3d(1.1, 1.1, 1.1);
            }

            .demo-gallery-poster {
                background-color: rgba(0, 0, 0, 0.5);

                >img {
                    opacity: 1;
                }
            }
        }
    }
}

.rp-news_list,
.rp-events_list {

    .news__img,
    .events__img {
        figure {
            width: 6rem;
            height: 5rem;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}


div[id$=pnlPollQuestion],
div[id$=pnlPollResult] {
    .vote {
        background: #fff;
        width: 80%;
        margin: 0 auto;
    }

    table[id$=rbtPollOptionList] {
        margin-top: 15px;

        tr td {
            display: flex;
            justify-content: flex-start;
            align-items: baseline;

            label {
                font-weight: bold;
            }
        }


    }

    input[id$=btnVote] {
        background: #9b803d;
        color: #fff;
        display: inline-block;
        padding-top: 7px;
        padding-bottom: 7px;
        transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -moz-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        border-radius: 50px;
        padding-right: 0.5rem;
        padding-left: 0.5em;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
            background-color: #066460;
            color: #fff;
        }
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 0;
        margin-#{$end}: 5px;
    }

    .voteGraphWrapper {
        border-bottom: 0;
        width: 100%;
    }

    .GeneralBar {
        color: #fff;
    }

    .BlueBar {
        background-color: #066460;
    }

    .GeneralBar:before {
        position: absolute;
        content: attr(data-title);
        right: 5px;
        top: -24px;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #000;
    }

    .GeneralBar:after {
        display: none;
    }
}

.digital-transformation {
    position: relative;

    a {
        text-decoration: none;

        &:hover {
            img {
                transform: scale(1.05);
                -webkit-transform: scale(1.05);
                -moz-transform: scale(1.05);
            }

            .card__title {
                background-color: #9b7f3e;
            }
        }
    }

    figure {
        &::before {
            content: "";
            background: #f7f7f7c4;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            #{$end}: 0;
        }

        img {
            width: 60%;
            margin: 0 auto;
            position: relative;
            transition: transform 0.3s ease-in-out;
            -webkit-transition: transform 0.3s ease-in-out;
            -moz-transition: transform 0.3s ease-in-out;
        }
    }

    .card__title {
        position: relative;
        z-index: 1;
        background: #05625c;
        padding: 1rem;
        margin-top: 20px;
        font-weight: bold;
        color: #ffffff;
        margin-bottom: 0;
        transition: background-color 0.3s ease-in-out;
        -webkit-transition: background-color 0.3s ease-in-out;
        -moz-transition: background-color 0.3s ease-in-out;
    }
}

.ms-acal-item {
    background-color: #3d8885;
    border: solid 1px #3d8885;
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ms-acal-vlink a[evtid='new_item'] {
    font-size: 0.7rem;
    font-weight: bold;
}

.ms-acal-vlink {
    margin-top: -30px;
}

.modal-header {
    flex-direction: row-reverse;

    .close {
        min-width: 2rem;
        margin-right: 0;
        margin-left: 0;
    }

    .modal-title {
        margin: 0;
    }
}

.modal-footer {
    flex-direction: row-reverse;
}


/*modal-effect-pulse*/

#RoyalSystemsList.modal.fade .modal-dialog {
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    max-width: 1200px;
    margin-top: 120px;
}

#RoyalSystemsList.modal.fade.show .modal-dialog {
    transform: perspective(400px) scale3d(.95, .95, .95);
    animation-timing-function: ease-in;
    opacity: 1;
}


#NoItemExist {
    font-size: 1.5rem;
    text-align: center;
    background: #f8f9fa;
    height: 640px;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 3rem;
    color: #066460;
    font-weight: bold;

    &::before {
        content: "";
        background: url(../images/no-data.svg) center 40% no-repeat;
        background-size: 70%;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0.2;

    }
}

.side-box {
    background-color: $color-white;
    padding: 13px 20px;
    border: .25px solid rgba(#707070, .2);
    border-radius: 20px;
}