$color-primary: #6F2A8E;
$color-primary--dark: #6F2A8E;
$color-secondary: #6F2A8E;
$color-secondary--dark: darken($color-secondary, 10);
$color-text: #0e0e0e;
$color-white: #fff;
$color-grey: #9e9e9e;
$color-grey-800: #424242;
$color-grey-900: #212121;
$color-grey-300: #71043E;

$border-color: rgba(0, 0, 0, .54);
//shadow
$panel-shadow: 0px 0px 20px #0000000F;
// paths
$img-path: "../images";
$font-path: "../fonts";
//  selection background color
$selection-color: #727272;
//  header
$header-bg: $color-primary;
$header-color:#3E3E3E;
$header-padding: 10px 0 20px;
$header-z-index: 100;
// footer
$footer-bg: #003d64;
$footer-bottom-bg: #003d64;
$footer-padding: 50px 0 0 0;
$footer-color:#3B3B3B;

//  brand
//
// brand--colors
$brand-fill: #fff;
$brand-fill--light: #fff;
$brand-fill--dark: #000;
// brand--size
$brand-width: 100px !default;
$brand-height: 60px !default;
$brand-xs-width: 70px !default;
$brand-xs-height: 40px !default;
$brand-lg-width: 160px !default;
$brand-lg-height: auto; //icons
$icons-padding: 8px !default;
// nav-bar
//
$nav-bar--bg: transparent;
$nav-bar--padding: 0;
$nav-bar-space-between: 5px !default;
// menu items
$menu-link-color: #000;
$menu-link-hover: $color-primary;
// sub menu
$sub-menu--bg: $color-secondary--dark;
$sub-menu--padding: 0 15px;
$overlay-z-index: 10;
// // Typography
// //
// // Font, line-height, and color for body text, headings, and more.
// $font-size: 16px !default;
// $line-height: 1.6 !default;
// // Responsive Font
// $xs-fontsize: 13px !default;
// $sm-fontsize: 13px !default;
// $mid-fontsize: 14px !default;
// $large-fontsize: $font-size;
// //Headings
// $headings-font-family: $font-family;
// $headings-font-weight: 400;
// $headings-line-height: 1.5;
// $headings-color: #000000;
// //Headings size
// $font-size-h1: 2.25rem; // ~36px
// $font-size-h2: 1.875rem; // ~30px
// $font-size-h3: 1.5rem; // ~24px
// $font-size-h4: 1.125rem; // ~18px
// $font-size-h5: 1rem; // ~16px
// $font-size-h6: 0.75rem; // ~12px
// //Links
// $link-color: $primary-base;
// $link-hover-color: lighten($link-color,10%);
// $link-hover-decoration: none;
// $gutterWidth: 16;
// //
// // ## Reusable Components
// $siteTopPadding: 15;
// Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
$screen-xs: 0 !default;
$screen-sm: 576px !default;
$screen-md: 768px !default;
$screen-lg: 1025px !default;
$screen-xl: 1200px !default;
$screen-wd: 1400px !default;
// // Breadcrumb
// //
// //##
// $breadCrumb-bg: transparent;
// $breadcrumb-link-color: rgba(255, 255, 255, 0.73);
// $breadcrumb-current-color: #fff;
// $subsiteHeader-bg: #f8f9f9;
// // Page title
// //
// //##
// $page-title-bg: $breadCrumb-bg;
// $page-title-border-color: #e9e9e9;
// $page-title-color: #565a5e;
// // ##
$youtubeClr: #bf232b;
$twitterClr: #2aaae0;
$facebookClr: #3a589b;
$linkedinClr: #0e76a8;
$whatsappClr: #0dc143;
$instagramGradient: linear-gradient(40deg,
  rgb(249, 237, 50) 0%,
  rgb(238, 42, 123) 69%,
  rgb(0, 42, 255) 100%);
$breadcrumb-margin-bottom: 1rem;

// $input-focus-color: $primary-base;
// // colors
// $color-gray--50: #fafafa;
// $color-gray--200: #eee;