@import "./base/variables.ar";
@import "./base/variables";
@import "./base/fonts.ar";


body {
    font-family: $font-family;
    font-size: 14px;
}

form[action*='AllItems.aspx'],
form[action*='EditForm.aspx'],
form[action*='NewForm.aspx'] {
    @import "./modules/_corev15";
    @import "./vendors/bootstrap/functions";
    @import "./vendors/bootstrap/variables";  
    @import "./base/mixins";
    @import "./layouts/spCustome";
    @import "./vendors/bootstrap/mixins";
    @import "./vendors/bootstrap/root";
    @import "./vendors/bootstrap/print";
    @import "./vendors/bootstrap/reboot";
    @import "./modules/media-print";

    .ms-linksection-title {
        font-size: 1.2rem;
    }

    h2,
    h3,
    .ms-h2,
    .ms-h3,
    .ms-headerFont {
        font-family: $font-family;
    }



    .ms-siteSettings-root {
        margin-top: 50px;
    }

    .rpFormLayout {
        position: relative;
        max-width: 1366px;
        margin: 0 auto;
    }

    .ms-core-tableNoSpace {
        position: relative;
        width: 1366px;

        // table {
        //     width: 100%;
        // }
    }

    .image-uploader-news {
        position: absolute;
        #{$end}: 330px;
        top: 43px;
    }

    .image-uploader {
        position: absolute;
        top: 38px;
        #{$start}: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }



    select {
        min-width: 38%;
        padding: 5px 10px;
        border: 1px solid #dedede;
        box-shadow: 2px 0 5px #f7f7f7;
        display: inline-block;
    }

    #addFileButton,
    input[id$=diidIOSaveItem] {
        font-family: inherit;
        font-size: 1rem;
        background: #2a9b7b;
        border: 0;
        border-radius: 5px;
        padding: 12px 20px;
        color: #fff;
        cursor: pointer;
        display: inline-block;

        &:hover {
            background: #31b18c;
        }
    }

    input[id$=diidIOSaveItem] {
        margin-top: 50px;
    }

    .ms-formbody {
        position: relative;
    }


    input[type=password],
    input[type=text],
    input[type=file],
    textarea,
    .ms-inputBox,
    textarea {
        border: 1px solid #dedede;
        box-shadow: 2px 0 5px #f7f7f7;
        padding: 10px 15px;
        display: inline-block;
        font-size: 0.9rem;
    }

    .ms-formdescription a {
        color: #2a9b7b;
    }

    .ms-formdescription {
        color: #2a9b7b;
        margin-top: 5px;
        display: block;
        margin-bottom: 5px;
        font-size: 0.88rem;
    }

    .ms-standardheader {
        font-size: 1em;
        margin: 0px;
        text-align: $start;
        color: #2a9b7b;
    }


    .ms-RadioText {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-width: 90px;
        margin-bottom: 10px;

        input[type=checkbox] {
            width: 20px;
            height: 20px;
            margin-#{$end}: 10px;
        }

        label {
            margin-bottom: 0;
            font-size: 0.9rem;
        }
    }


    #s4-titlerow {
        height: auto;
    }


    // view list items 



    .ms-list-addnew,
    .ms-pivotControl-container {
        a {
            color: #2a9b7b;
        }
    }

    .ms-InlineSearch-DivBaseline {
        width: 40%;
    }

    .ms-InlineSearch-Outline-Baseline {
        width: 100%;
        border: 0;
        margin-top: 20px;
        height: auto;
        position: relative;
    }

    .ms-InlineSearch-DivBaseline input[type=text] {
        border: 1px solid #d1d2d5;
        padding: 10px 10px 10px 50px;
        font-size: 1rem;
        height: auto;
        width: 100%;
    }

    .ms-inlineSearch-searchImgSpanBase {
        position: absolute;
        #{$end}: 13px;
        top: 14px;
        cursor: pointer;
    }

    .ms-inlineSearch-searchImgSpanHoverHighlight {
        background-color: transparent;
        border: 0;
        background-color: transparent;
    }

    .ms-listviewtable th {
        background: #f7f7f7;
        padding: 10px;
        font-size: 1.1rem;
        text-align: right;
        border-left: 1px solid #e2e2e2;
    }

    .ms-listviewtable tbody tr:nth-child(even) {
        background: #f9f9f9;
    }



    .ms-formtable>tbody>tr td:first-child {
        width: 5%;
    }

    #sideNavBox {
        display: none;
    }

    // #sideNavBox {
    //     display: none;
    // }

    #contentBox {
        margin-#{$start}: 1rem;
        margin-#{$end}: 0;
        min-width: 0;
        overflow-x: hidden;
    }
}


form[action*='DispForm.aspx'] {

    @import "./modules/_corev15";
    @import "./vendors/bootstrap/functions";
    @import "./vendors/bootstrap/variables";  
    @import "./base/mixins";
    @import "./layouts/spCustome";
    @import "./vendors/bootstrap/mixins";
    @import "./vendors/bootstrap/root";
    @import "./vendors/bootstrap/print";
    @import "./vendors/bootstrap/reboot";
    @import "./modules/media-print";
    
    .ms-formtable #SPFieldURL img {
        width: 20%;
    }

    #contentBox {
        margin-#{$start}: 1rem;
        margin-#{$end}: 0;
        min-width: 0;
        overflow-x: hidden;
    }

    #sideNavBox {
        display: none;
    }

    .ms-formtable {
        width: 100%;
        table-layout: fixed;
    }

    #onetIDListForm table {
        width: 100%;
    }


    .ms-formtable>tbody>tr:nth-child(odd) {
        background: #fdfdfd;
    }

    .ms-formtable td {
        padding: 20px;
        vertical-align: middle;
    }



    .ms-formtable tr td:first-child span {
        font-size: 1rem;
        font-weight: bold;
    }

    .ms-formtable>tbody>tr {
        border-bottom: 1px solid #d1d2d4;
    }


    .ms-formtoolbar {
        margin-top: 30px;

        input[type=button],
        input[type=reset],
        input[type=submit],
        button {
            font-family: inherit;
            font-size: 1rem;
            background: #2a9b7b;
            border: 0;
            border-radius: 5px;
            padding: 12px 20px;
            color: #fff;
            cursor: pointer;
            display: inline-block;

            &:hover {
                background: #31b18c;
            }
        }
    }
}